<div class="row">
    <ul class="competition-menu list-group list-group-horizontal justify-content-center">
      <li class="list-group-item"><a href="">Roster</a></li>
      <li class="list-group-item"><a href="">EPL</a></li>
      <li class="list-group-item"><a href="">FA Cup</a></li>
      <li class="list-group-item"><a href="">League Cup</a></li>
      <li class="list-group-item"><a href="">UEFA Champions League</a></li>
      <li class="list-group-item"><a href="">UEFA Super Cup</a></li>
      <li class="list-group-item"><a href="">Community Shield</a></li>
    </ul>
  </div>