<div>
    <div class="top-bar">
        <div class="container-fluid text-end navbar">
          <ul class="black-navbar-nav">
            <li><i class="fa-regular fa-user"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa fa-print" (click)="printPage()"></i></li>
            <!-- <li class=""><img src="./assets/images/flags/eng.png" height="15" width="20" /></li> -->
          </ul>
        </div>
    </div>
  
    <nav class="navbar navbar-dark navbar-expand-md bg-danger sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="assets/images/arsenal-logo100x00.png" alt="Logo" width="100" height="100" class="d-inline-block">
                Arsenal Football Club
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">More</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
  </div>