//@use "@material/button/";

section.class404 { 
  // background: url(../../assets/images/action-malen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

a {font-size: 40px;}

h2 {
    color: #fff;
    font-size: 5rem;
}

.arsenal-h2, .arsenal-h3 {
  text-shadow: 2px 2px #DB0007;
}

.hr-light {
  border-top: 1px solid #fff;
}

.mb-2 {
  margin-bottom: 3.5rem!important;
}

.home-arrow {
  font-size: 2.5rem;
}

.home-btn {
  border: 3px solid #fff;
  width: 17rem;
}

.home-div {
  padding: 40px 4.56%;
}

.btn {
  color: #fff;
  text-shadow: 2px 2px #db0007;
}

.btn:hover {
  background: #db0007;
}

.mdc-touch-target-wrapper {
  padding-top: 50vh;
}