<section class="class404" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <!-- <button class="home-cta" [routerLink]="['/Roster']">Enter</button>
    <div class="home-div"><a [routerLink]="['/Roster']">Roster</a></div> -->
    
    <div class="container flex-center pt25">
        <h2 class="display-3 font-bold mb-2 arsenal-h2">Arsenal FC</h2>
        <hr class="hr-light" />
        <h3 class="text-white mt-2 mb-5 arsenal-h3">Page Not Found</h3>
        <h4 class="text-white mt-2 mb-5 arsenal-h3">Well that didn't go as planned...</h4>
        <a class="waves-effect waves-light btn home-btn" data-wow-delay="0.2s" data-toggle="modal" data-target="#modal-reservation" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <i class="fa-solid fa-angles-right home-arrow"></i>&nbsp;
                    <span [routerLink]="['/Roster']">Enter</span>
        </a>
    </div>
    </section>